@{
    <div class="container-fluid">
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/la.jpg" alt="Fruit" width="1700" height="600">
      <div class="carousel-caption">
        <h3>You Can Afford The Best Buy</h3>
        <p>We Offer Variety Of Fruit!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="~/chicago.jpg" alt="Oranges" width="1700" height="600">
      <div class="carousel-caption">
        <h3>Home Made Oranges</h3>
        <p>We Have The Best Natural Oranges!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="~/ny.jpg" alt="Apple" width="1700" height="600">
      <div class="carousel-caption">
        <h3>Natural Apple Always Available</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>
}